body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subTitle {
  font-weight: 500;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.axis_feature path {
  stroke: gray;
  stroke-width: 2px;
}

.axis text {
  font-weight: 600;
  fill: black;
  font-size: 0.8rem;
  stroke: white;
  stroke-width: 0.7;
}

.g_feature_group_axis path {
  stroke: none;
}

.g_feature_axis text {
  fill: black;
}

.doc_selected {
  background-color: whitesmoke !important;
  border: 2px solid lightgray !important;
  /* color: white !important; */
}

.user_glyph_selected {
  stroke: 2 !important;
  opacity: 1 !important;
}

.feature_sort_by {
  fill: green !important;
}

/* For tooltip */
.tooltip_mouseovered {
  opacity: 1 !important;
}

.d3-tooltip {
  line-height: 1.5;
  font-weight: 400;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tooltip.n:after {
  content: '\25BC';
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tooltip.e:after {
  content: '\25C0';
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tooltip.s:after {
  content: '\25B2';
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tooltip.w:after {
  content: '\25B6';
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
