body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subTitle {
  font-weight: 500;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.axis_feature path {
  stroke: gray;
  stroke-width: 2px;
}

.axis text {
  font-weight: 400;
  fill: gray;
  font-size: 0.8rem;
  /* stroke: white;
  stroke-width: 0.7; */
}

.g_feature_group_axis path {
  stroke: none;
}

.g_feature_axis path {
  stroke: gray;
  stroke-width: 2px;
}
.g_feature_axis line {
  stroke: gray;
  stroke-width: 2px;
}
.g_feature_axis text {
  stroke: white;
  stroke-width: 0.4;
  font-weight: bolder;
}

.g_output_prob_plot line {
  stroke-width: 2px;
}

.g_output_prob_plot text {
  font-size: 13px;
}

.g_word_x_axis line {
  stroke: none;
}
.g_word_x_axis path {
  stroke: none;
}

.g_word_x_axis text {
  fill: gray;
}

.g_cluster_x_axis path {
  stroke: gray;
  stroke-width: 2px;
}

.g_plot_x_axis line,
.g_plot_y_axis line {
  stroke-dasharray: 2, 2;
  stroke: #999;
}

.tweet_index_indicator_highlighted {
  border: solid 2px black;
}

.tweet_line_highlighted {
  stroke-width: 2 !important;
  stroke: lightgreen !important;
  opacity: 1 !important;
}

.aux_axis_highlighted {
  stroke: black !important;
}

.cluster_for_highlighted {
  stroke-width: 3 !important;
  stroke: lightgreen !important;
}

.seq_text {
  font-size: 0.8rem;
}

.doc_selected {
  background-color: whitesmoke !important;
  border: 2px solid lightgray !important;
  /* color: white !important; */
}

.user_glyph_selected {
  stroke: 2 !important;
  opacity: 1 !important;
}

.feature_sort_by {
  fill: green !important;
}

/* For tooltip */
.tooltip_mouseovered {
  opacity: 1 !important;
}

.point_to_subgroup_for_selected_instance {
  stroke: black !important;
  opacity: 0;
}

.d3-tooltip {
  line-height: 1;
  padding: 6px;
  /* background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px; */
  border: solid 2px black;
  background: white;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tooltip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tooltip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
