body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subTitle {
  font-weight: 500;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.axis_feature path {
  stroke: gray;
  stroke-width: 2px;
}

.g_feature_group_axis path {
  stroke: none;
}

.g_feature_axis text {
  fill: black;
}

.doc_selected {
  background-color: whitesmoke !important;
  /* color: white !important; */
}

.user_glyph_selected {
  stroke: 2 !important;
  opacity: 1 !important;
}

.feature_sort_by {
  fill: green !important;
}
