.canvas_tweet_paths {
  /* width: 620px;
  height: 240px; */
  position: relative;
}
.button1 {
  background: blue;
  border: none;
  padding: 1px 5px;
  font-size: 0.8rem;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.ant-table-row > td,
.ant-table-thead > tr > th {
  padding: 10px 2px !important;
  font-size: 0.9rem !important;
}
.ant-table-thead > tr > th {
  background-color: #f2f2f2 !important;
}
